
.banner-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.aboutMe-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutMe-text{
    width: 50%;
}
